{% extends 'main/base.html' %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <div class="row row-col-1 py-3 justify-content-center">
        <div class="col shadow m-5 p-4 border col-md-5 rounded">
            <div style="text-align: center">
                <h2>Password Reset</h2>
                </div>
            <br>
            <div class="px-3">
                <p>Forgot you password? Enter your email below, and we'll email instructions for setting a new one.</p>
            </div>
            </p>
            <div class="form-floating">
                    {{passwordresetform.email}}
                    <label for="id_email" class="form-label">email</label>
            </div>
            <p>
                <div class="col d-flex justify-content-center px-5 py-3 col-lg-10">
                    <p><button class="btn btn-primary px-4 mx-5" type="submit">Send</button></p>
                    <p><a href="/users/profile/" class="btn btn-secondary px-4" role="button">Cancel</a></p>
                </div>
            </p>
        </div>
    </div>


</form>


{% endblock content %}


