{% extends 'main/base.html' %}

{% block content %}

<form method="post">

    {% csrf_token %}

    <div class="row row-col-1 py-3 justify-content-center">
        <div class="col shadow m-5 p-4 border col-md-5 rounded">
            <div style="text-align: center;">
                <h2>User Registration</h2>
                </div>
            <br>
            <p>
                <div class="form-floating">
                    {{registerform.email}}
                    <label for="email" class="form-label">email</label>
                </div>
            </p>
            <p>
                <div class="px-3">
                    <p><small>Only <strong>@alphaworks.com.ar</strong> addresses will be processed.</small></p>
                </div>
                </p>
            <p>
                <div class="form-floating">
                    {{registerform.first_name}}
                    <label for="first_name" class="form-label">First Name</label>
                </div>
            </p>
            <p>
                <div class="form-floating">
                    {{registerform.last_name}}
                    <label for="last_name" class="form-label">last Name</label>
                </div>
            </p>
            <p>
                <div class="form-floating">
                    {{registerform.password1}}
                    <label for="id_password1" class="form-label">Password</label>
                </div>
            </p>
            <p>
            <div class="px-3">
                <ul class="list-unstyled">
                    <li><small>Your password can’t be too similar to your other personal information.</small></li>
                    <li><small>Your password must contain at least 8 characters.</small></li>
                    <li><small>Your password can’t be a commonly used password.</small></li>
                    <li><small>Your password can’t be entirely numeric.</small></li>
                </ul>
            </div>
            </p>
            <p>
                <div class="form-floating">
                    {{registerform.password2}}
                    <label for="password2" class="form-label">Re-type Password</label>
                </div>
            </p>
            <p>
                <div class="form-group">
                    <button class="btn btn-primary " type="submit">Register</button>
                </div>
            </p>
        </div>
    </div>


</form>

{% endblock %}