{% extends 'main/base.html' %}
{% load i18n %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% load static %}

{% block content %}
<!-- Header -->
<div class="row mt-3 justify-content-md-center">
    <div class="col col-lg-10 p-2 mx-1 rounded border bg-white">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid px-4">
          <a class="navbar-brand" href="#"><h4><i class="bi bi-buildings"></i>&nbsp;{% trans "Companies" %}</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#companiesNavbar" aria-controls="companiesNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Offcanvas Header -->
          <div class="offcanvas offcanvas-end bg-white" tabindex="-1" id="companiesNavbar" aria-labelledby="offcanvasCompaniesLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasCompaniesLabel">{% trans "Companies" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- Offcanvas Form -->
            <div class="d-lg-none">
              <div class="offcanvas-body">
                <a class="btn btn-outline-secondary btn-sm my-2" href="/directory/create_company/"><i class="bi bi-plus-square"></i>&nbsp;{% trans "Add Company" %}</a>
                <form class="col btn-sm" role="search">
                  <div class="my-2">{{searchform.q}}</div>
                  <button class="btn btn-outline-success mr-2" type="submit">{% trans "Search" %}</button>
                  <a href="/directory/companies/" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
                </form>
              </div>
            </div>
            <!-- Incanvas Form -->
            <div class="d-none d-lg-block">
              <div class="collapse navbar-collapse" id="companiesNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary btn-sm my-1" href="/directory/create_company/"><i class="bi bi-plus-square"></i>&nbsp;{% trans "Add Company" %}</a>
                  </li>
                </ul>
                <form class="d-flex btn-sm" role="search">
                    {{searchform.q}}
                  <button class="btn btn-outline-success mx-2" type="submit">{% trans "Search" %}</button>
                </form>
                <div>
                  <a href="/directory/companies/" class="btn btn-outline-secondary my-2">{% trans "Clear" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
</div> 

<!-- Content -->
<div class="row mt-3 justify-content-md-center" id="companies-table-block">
    <div class="col col-lg-10 p-3 mx-1 rounded border bg-white">
    {% if companies_list %}

    <!-- Table lg -->
    <div class="table-responsive d-none d-lg-block">
      <table class="table table-hover" id="companies_list" name="Companies_List">
      
        <!-- Cabecera de Tabla -->
        <thead class="table">
            <th class="px-3">{% trans "Name" %}</th>
            <th>{% trans "Phone" %}</th>
            <th>{% trans "Address" %}</th>
            <th>{% trans "Website" %}</th>
            <th>{% trans "Tax ID" %}</th>
            <th>Fav</th>
        </thead>

        <!-- Cuerpo de Tabla -->
        <tbody>
            {% for company in companies_list %}
            <tr>
                <td class="px-3"><a class="nav-link" href="/directory/company/{{ company.id }}/0/5/">{{ company.companyName }}</a></td>
                <td>{{ company.companyPhone }}</td>
                <td>{{ company.address.street }} {% if company.address.city %}, {{ company.address.city }}{% endif %}</td>
                <td><a class="nav-link" href="{{ company.website }}" target="_blank">{{ company.website }}</a></td>
                <td>{{ company.tax_id }}</td>
                <td>
                  {% if company.fav %}
                  <span class="px-2" hx-get="/directory/unlink_fav/{{ fav.id }}/" hx-swap="outerHTML"><i class="bi bi-star-fill h5 hx-pointer text-warning"></i></span>
                  {% else %}
                  <span class="px-2" hx-get="/directory/link_fav/company_obj/{{ company.id }}/" hx-swap="outerHTML"><i class="bi bi-star h5 hx-pointer text-warning"></i></span>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Table md -->
    <div class="table-responsive d-none d-sm-block d-lg-none">
      <table class="table table-hover" id="companies_list" name="Companies_List">
      
        <!-- Cabecera de Tabla -->
        <thead class="table">
            <th class="px-3">{% trans "Name" %}</th>
            <th>{% trans "Phone" %}</th>
            <th>{% trans "Address" %}</th>
        </thead>

        <!-- Cuerpo de Tabla -->
        <tbody>
            {% for company in companies_list %}
            <tr>
                <td class="px-3"><a class="nav-link" href="/directory/company/{{ company.id }}/0/5/">{{ company.companyName }}</a></td>
                <td>{{ company.companyPhone }}</td>
                <td>{{ company.address.street }} {% if company.address.city %}, {{ company.address.city }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Table xs -->
    <div class="table-responsive d-block d-sm-none">
      <table class="table table-hover" id="companies_list" name="Companies_List">
      
        <!-- Cabecera de Tabla -->
        <thead class="table">
            <th class="px-3">{% trans "Name" %}</th>
            <th>{% trans "Phone" %}</th>
        </thead>

        <!-- Cuerpo de Tabla -->
        <tbody>
            {% for company in companies_list %}
            <tr>
                <td class="px-3"><a class="nav-link" href="/directory/company/{{ company.id }}/0/5/">{{ company.companyName }}</a></td>
                <td>{{ company.companyPhone }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
      {% if companies_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'directory:Companies' %}?page=1&q={{q}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
          <a class="page-link" id="page-link" href="{% url 'directory:Companies'%}?page={{ companies_list.previous_page_number }}&q={{q}}">&lt;</a>
          </li>
      {% else %}
          <li class="page-item disabled">
          <span class="page-link">&laquo;</span>
          </li>
          <li class="page-item disabled">
          <span class="page-link">&lt;</span>
          </li>
      {% endif %}
  
      <li class="page-item">
          <span class="page-link">{% trans "Page" %} {{ companies_list.number }} {% trans "of" %} {{ companies_list.paginator.num_pages }}</span>
      </li>
  
      {% if companies_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'directory:Companies' %}?page={{ companies_list.next_page_number }}&q={{q}}" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
            </a>
          <li class="page-item">
            <a class="page-link" href="{% url 'directory:Companies' %}?page={{ companies_list.paginator.num_pages }}&q={{q}}" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
      {% else %}
          <li class="page-item disabled">
          <span class="page-link">&gt;</span>
          </li>
          <li class="page-item disabled">
          <span class="page-link">&raquo;</span>
          </li>
      {% endif %}
      </ul>
  </nav>

    {% else %}
        <p>{% trans "No companies available." %}</p>
    {% endif %}
  </div>
</div>

<script src="{% static 'directory/js/companies_helper.js' %}"></script>

{% endblock %}