{% extends 'main/base.html' %}
{% load static %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% load i18n %}

{% block content %}

<form action="" method="post">

{% csrf_token %}

<div class="row py-3 justify-content-center">
    <div class="col col-lg-10 rounded border bg-white p-3 mx-1 col-lg-10">
        {% if title %}
        <div class="h2 px-4 py-2">{{title}}</div>
        {% else %}
        <div class="h2 px-4 py-2">{{company.companyName}}</div>
        {% endif %}

        <div class="row row-col-2 py-3 justify-content-center">
            <div class="col col-10 col-md-6 py-1">

                <div class="form-floating my-3 mx-2">
                   {{companyform.companyName}}
                    <label for="id_company">{% trans "Company Name:" %}</label>
                </div>

                <div class="form-floating my-3 mx-2">
                    {{companyform.tax_id}}
                    <label for="id_tax_id">{% trans "Tax ID:" %}</label>
                </div>

                <div class="form-floating my-3 mx-2">
                    {{companyform.website}}
                    <label for="id_website">{% trans "Website:" %}</label>
                </div>

                <div class="form-floating my-3 mx-2">
                    {{companyform.companyPhone}}
                    <label for="id_companyphone">{% trans "Company Phone:" %}</label>
                </div>

            </div>

            <div class="col col-10 col-md-6 py-1 light-border">

                <div class="form-floating my-3 mx-2">
                    {{addressform.street}}
                    <label for="id_street">{% trans "Street:" %}</label>
                </div>

                <div class="form-floating my-3 mx-2">
                    {{addressform.city}}
                    <label for="id_city">{% trans "City:" %}</label>
                </div>

                <div class="form-floating my-3 mx-2">
                    {{addressform.state}}
                    <label for="id_state">{% trans "State:" %}</label>
                </div>

                <div class="form-floating my-3 mx-2">
                    {{addressform.country}}
                    <label for="id_country">{% trans "Country:" %}</label>
                </div>

                <div class="form-floating my-3 mx-2">
                    {{addressform.postalCode}}
                    <label for="id_postalecode">{% trans "Postal Code:" %}</label>
                </div>

                <div class="d-flex justify-content-center my-3 px-5 py-3">
                    <p><button type="submit" class="btn btn-outline-success px-3 mx-2">{% trans "Save" %}</button></p>
                    {% if company.id %}
                    <p><a href="/directory/company/{{ company.id }}/0/5/" class="btn btn-outline-secondary mx-2 px-4" role="button">{% trans "Cancel" %}</a></p>
                    {% else %}
                    <p><a href="/directory/companies/" class="btn btn-outline-secondary mx-2 px-4" role="button">{% trans "Cancel" %}</a></p>
                    {% endif %}
                </div>

            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col p-3 mx-1">

                <div class="form-floating my-2">
                    {{companyform.companyNotes}}
                    <label for="id_company_notes">{% trans "Notes:" %}</label>
                </div>

            </div>
        </div>

    </div>
</div>
</form>

<script src="{% static 'directory/js/create_company_helper.js' %}"></script>
{% endblock %}