{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="row py-3 justify-content-center">
    <div class="col shadow px-5 py-3 mx-1 col-lg-10 rounded border bg-light">
        <h2>{{person.firstName}} {{person.lastName}}</h2>
        <h5>{{person.position}}</h5>
        <h5>
            {% if person.company.deleted == False or not Person.company.id %}
            <a class="nav-link" href="/directory/company/{{ person.company.id }}/0/5">{{ person.company.companyName }}</a>
            {% else %}
            {{ person.company.companyName }} (deleted)
            {% endif %}
        </h5>
        <hr class="separator">

        <div class="row row-col-2 py-3 justify-content-start">
            <div class="col col-10 col-md-6 py-1">
                <p class="mb-2"><small>{% trans "CONTACT:" %}</small></p>
                <div class="ps-1">
                    {% if person.celphone %}
                    <h6><a class="nav-link" id="person-whapp-link" target="_blank" href="">{{person.celphone}}<i class="bi bi-whatsapp m-2" style="color: green;"></i></a></h6>
                    {% endif %}
            
                    {% if person.email %}
                    <h6><a class="nav-link" id="mail-link" href="mailto:{{person.email}}">{{person.email}}<i class="bi bi-envelope-plus m-2"></i></a></h6>
                    {% endif %}
                
                    <h5>{{person.workphone}}</h5>
                </div>
            </div>
            <div class="col col-10 col-md-6 py-1 light-border">
                <p class="mb-2"><small>{% trans "ADDRESS:" %}</small></p>
                <div class="ps-1">
                    <h6>{{person.address.street}}</h6>
                    <h6>{{person.address.postalCode}}</h6>
                    <h6>{{person.address.city}}</h6>
                    <h6>{{person.address.state}}</h6>
                    <h6>{{person.address.country}}</h6>
                </div>
            </div>
        </div>

        {% if person.notes %}
        <div class="row py-3 justify-content-start">
            <div class="col p-3 col-lg-10">
                <p><i class="bi bi-pencil-square"></i>&nbsp;{{person.notes}}</p>
            </div>
        </div>
        {% endif %}


    </div>
</div>

<div class="row py-3 justify-content-center">
    <div class="col col-lg-10 d-flex justify-content-center shadow border rounded mx-1 px-4 py-3">       
        <p><a href="/directory/edit_person/{{ person.id }}" class="btn btn-outline-success mt-1 px-4 mx-2" role="button">{% trans "Edit" %}</a></p>
        <p><a href="/directory/persons/0/10/" class="btn btn-outline-secondary mt-1 px-4 mx-2" role="button">{% trans "Back" %}</a></p>
        <p><a href="/directory/delete_person/{{ person.id }}" class="btn btn-outline-danger mt-1 mx-2" role="button">{% trans "Delete" %}</a></p>
    </div>
</div>

<script src="{% static 'directory/js/contact_helper.js' %}"></script>
{% endblock %}