{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="row py-3 justify-content-center">
    <div class="col shadow px-5 py-3 mx-1 col-lg-10 rounded border bg-light">
        <h2>{{person.firstName}} {{person.lastName}}</h2>
        <h5 style="color: grey;">{{person.position}}</h5>
        <h5>
            {% if person.company.deleted == False or not Person.company.id %}
            <a class="nav-link" href="/directory/company/{{ person.company.id }}/0/5">{{ person.company.companyName }}</a>
            {% else %}
            <td>{{ person.company.companyName }} (deleted)</td>
            {% endif %}
        </h5>
    </div>
</div>

<div class="row row-col-2 py-3 justify-content-center">
    <div class="col shadow mx-1 px-5 py-3 mb-2 border col-lg-5 rounded">
        {% if person.celphone %}
        <h5><a class="nav-link" id="person-whapp-link" target="_blank" href="">{{person.celphone}}<i class="bi bi-whatsapp m-2" style="color: green;"></i></a></h5>
        {% endif %}

        {% if person.email %}
        <h5><a class="nav-link" id="mail-link" href="mailto:{{person.email}}">{{person.email}}<i class="bi bi-envelope-plus m-2"></i></a></h5>
        {% endif %}
        
        <h5>{{person.workphone}}</h5>
    </div>
    <div class="col shadow mx-1 px-5 py-3 mb-2 border col-lg-5 rounded">
        <h5>{{person.address.street}}</h5>
        <h6>{{person.address.postalCode}}</h6>
        <h6>{{person.address.city}}</h6>
        <h6>{{person.address.state}}</h6>
        <h6>{{person.address.country}}</h6>
    </div>
</div>

{% if person.notes %}
<div class="row py-3 justify-content-center">
    <div class="col p-3 mx-1 shadow col-lg-10 border rounded">
        <p>{{person.notes}}</p>
    </div>
</div>
{% endif %}

<div class="row py-3 justify-content-center">
    <div class="col col-lg-10 d-flex justify-content-center shadow border rounded mx-1 px-4 py-3">       
        <p><a href="/directory/edit_person/{{ person.id }}" class="btn btn-success mt-1 px-4 mx-2" role="button">{% trans "Edit" %}</a></p>
        <p><a href="/directory/persons/0/10/" class="btn btn-secondary mt-1 px-4 mx-2" role="button">{% trans "Back" %}</a></p>
        <p><a href="/directory/delete_person/{{ person.id }}" class="btn btn-danger mt-1 mx-2" role="button">{% trans "Delete" %}</a></p>
    </div>
</div>

<script src="{% static 'directory/js/contact_helper.js' %}"></script>
{% endblock %}