{% extends 'main/base.html' %}

{% block content %}
<div class="row mt-3 justify-content-md-center">
    <div class="col shadow p-2 col-lg-10 rounded bg-light">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid px-4">
          <a class="navbar-brand" href="#"><h2>Persons</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#personsNavbar" aria-controls="personsNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="personsNavbar">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/directory/create_person/">Add Person</a>
            </li>
          </div>
        </div>
      </nav>
    </div>
</div>
<div class="row mt-3 justify-content-md-center">
    <div class="col shadow p-3 border rounded col-lg-10">
    {% if person_list %}
    <div class="table-responsive">
    <table class="table table-hover table-bordered" id="person_list" name="Person_List">
        <!-- Cabecera de Tabla -->
        <thead class="table-secondary">
            <th>Name</th>
            <th>Company</th>
            <th>CellPhone</th>
        </thead>

        <!-- Cuerpo de Tabla -->

        <tbody>
            {% for Person in person_list %}
            <tr>
                <td><a class="nav-link" href="/directory/person/{{ Person.id }}/">{{ Person.lastName }}, {{ Person.firstName }}</a></td>
                {% if Person.company.deleted == False %}
                <td><a class="nav-link" href="/directory/company/{{ Person.company.id }}/0/5">{{ Person.company.companyName }}</a></td>
                {% else %}
                <td>{{ Person.company.companyName }} (deleted)</td>
                {% endif %}
                <td>{{ Person.celphone }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/directory/persons/{{idxPL}}/{{idxPR}}/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for link in links %}
          <li class="page-item"><a class="page-link" id="page-link" href="/directory/persons/{{link.pl}}/{{link.pr}}/">{{link.page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="/directory/persons/{{idxNL}}/{{idxNR}}/" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    {% else %}
        <p>No persons available.</p>
    {% endif %}
    </div>
</div>
{% endblock %}