{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}

<form method="post">
    {% csrf_token %}

    {{ postcreationform.post }}

    <div class="form-check form-switch">
     {{ postcreationform.action }}
     <label class="form-check-label" for="id_action">{% trans "Action Required" %}</label>
    </div>
<br>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="slider", onclick="selectChoice()">
        <label class="form-check-label" for="slider">{% trans "Select by Company" %}</label>
      </div>
      
<br>
    {{ postcreationform.person }}
    {{ postcreationform.company }}

    <button type="submit" class="btn btn-outline-success px-3 mx-2">{% trans "Save" %}</button>

</form>

<script src="{% static 'posts/js/create_post_helper.js' %}"></script>
{% endblock content %}



