{% extends 'main/base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="row row-col-1 py-3 justify-content-center">
    <div class="col shadow m-5 p-4 border col-md-5 rounded">
        <div style="text-align: center">
        <h2>MateApp Directory</h2>
        <br>
        </div>
        <form method="GET">
            <div class="form-floating">
                {{searchform.q}}
                <label for="Search" class="form-label">{% trans "Search:" %}</label>
            </div>
            <br>
            <button type="submit" class="w-100 btn btn-lg-5 btn-primary">{% trans "Search" %}</button>
        </form>
       
        {% for result in results %}
        <div class="col my-3 shadow p-4 border rounded">
        {% if result.lastName %}
        <a class="nav-link" href="/directory/person/{{ result.id }}/">{{ result }}</a>
        <p>{{ result.celphone }}</p>
        {% else %}
        <a class="nav-link" href="/directory/company/{{ result.id }}/0/5/">{{ result }}</a>
        <p>{{ result.companyphone }} </p>
        {% endif %}
        </div>
        {% endfor %}
        
    </div>
</div>

{% endblock content %}

