{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<div class="row row-col-1 py-3 justify-content-center">
    <div class="col shadow m-5 p-4 border col-md-5 rounded">
        <div style="text-align: center">
        <h2>MateApp Directory</h2>
        <br>
        </div>
        <div style="text-align: center" class="p-4">
            <img src="{% static 'main/images/mate_plain.svg' %}" alt="MateApp" height="250">
        </div>
            
    </div>
</div>

{% endblock content %}

