{% load static %}
{% load i18n %}

<div class="row mt-3 justify-content-md-center">
    <div class="col rounded border bg-white p-4 mx-1">
        <form hx-put="{% url 'directory:personPostCreate' id=person.id %}" hx-target="#list" hx-swap="outerHTML swap:0.2s">
            {% csrf_token %}
            <div class='mb-2'>
                {{ postcreationform.post }}
            </div>
            <button type="submit" class="btn btn-outline-success btn-sm me-2">{% trans "Save" %}</button>
            <button class="btn btn-outline-secondary btn-sm" hx-get="{% url 'directory:Person' id=person.id %}" hx-target="#list">{% trans "Cancel" %}</button>

        </form>
    </div>  
</div>