{% load i18n %} 

<form class="mb-2" hx-put="{% url 'posts:edit' id=post.id %}" hx-target="this" hx-swap="outerHTML swap:0.2s" id="post">

    {% csrf_token %}

    <div class="form-floating my-2">
        {{postform.post}}
    </div>
    <div class="my-3">
        <i class="bi bi-paperclip h5 text-primary me-2">></i>
        {% for file in files %}
        <span class="badge text-bg-{{file.color}}" hx-get="{% url 'posts:filedelete' fid=file.id pid=post.id %}" hx-confirm="{% trans "Are you sure? This action can't be undone!" %}">{{file.shortName}}&nbsp;&nbsp;<i class="bi bi-x-circle hx-pointer"></i></span>
        {% endfor %}
    </div>
    <button class="btn btn-outline-success btn-sm">{% trans "Save" %}</button>
    <button class="btn btn-outline-secondary btn-sm" hx-get="{% url 'posts:title' id=post.id %}">{% trans "Cancel" %}</button>

</form>